<div
  style="
    width: 500px;
    max-height: 600px;
    overflow-y: scroll;
    scrollbar-width: none;
    font-size: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(238, 239, 244);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
  box-shadow: 0 0 8px 7px rgba(10, 203, 237, 0.982);
    
    background-color: rgb(15, 53, 124);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
  "
>
  <div
    style="display: flex; flex-direction: row; justify-content: space-between"
  >
    <div
      style="
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: space-around;
      "
    >
      <p class="sublabel">First Name :-</p>
      <p>{{ cardData.firstname }}</p>
    </div>
    <div
      style="
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: space-around;
      "
    >
      <p class="sublabel">Last Name :-</p>
      <p>{{ cardData.lastname }}</p>
    </div>
  </div>
  <div
    style="display: flex; flex-direction: row; justify-content: space-between"
  >
    <div
      style="
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: space-around;
      "
    >
      <p class="sublabel">Date of birth :-</p>
      <p>{{ cardData.dob }}</p>
    </div>
    <div
      style="
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: space-around;
      "
    >
      <p class="sublabel">Gender :-</p>
      <p>{{ cardData.gender }}</p>
    </div>
  </div>
  <div
    style="display: flex; flex-direction: row; justify-content: space-between"
  >
    <div
      style="
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: space-around;
      "
    >
      <p class="sublabel" style="width: 100%">Email :-</p>
      <p>{{ cardData.email }}</p>
    </div>
  </div>
  <div
    style="
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      justify-content: space-around;
    "
  >
    <p class="sublabel" style="width: 100%">Message :-</p>
    <p>{{ cardData.description }}</p>
  </div>
  <div style="display: flex; flex-direction: row; gap:20px" >
    <div (click)="setEditCard()" class="edit">
        <p>Edit</p>
    </div>
    <div (click)="handleDelete()"  class="delete">
        <p>Delete</p>
    </div>
  </div>
</div>
