<div
  style="
    min-height: 100vh;
    min-width: 100vw;
    background-color: black;
    display: flex;
    scrollbar-width: none;
    flex-direction: column;
    position: relative;
    justify-content: center;
  "
>
  <div
    style="
      display: flex;
      width: 100vw;
      position: absolute;
      justify-content: end;
      align-items: start;
      flex-direction: row;
      right: 40px;
      top: 40px;
      margin: 40px;
    "
  >
    <div
      *ngIf="!onCreate && !onEdit"
      (click)="setOnCreate(true)"
      class="create"
    >
      <p
        style="
          color: rgb(227, 212, 212);
          font-size: medium;
          font-weight: 800;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
            sans-serif;
        "
      >
        Create
      </p>
    </div>
  </div>

  <div
    *ngIf="onCreate || onEdit"
    style="position: absolute; align-self: center"
  >
    <app-addcard
      [editData]="editObject"
      [isEdit]="onEdit"
      [cardsData]="cardsData"
      (setOnEditModal)="setOnEdit($event)"
      (setOnCreateModal)="setOnCreate($event)"
    ></app-addcard>
  </div>

  @if (cardsData.length ==0) {

  <div>
    <p style="color: white; font-size: 50px; text-align: center">
      No data is present!
    </p>
  </div>
  } @else if(!onCreate && !onEdit) {

  <div
    *ngFor="let item of cardsData; index as i"
    style="
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      color: white;
      overflow-y: scroll;
      scrollbar-width: none;
    "
  >
    <app-viewcard
      (handleEditItem)="setEditObject($event)"
      (setOnEditCard)="setOnEdit($event)"
      (handleDeleteItem)="handleDelete($event)"
      [index]="i"
      [cardData]="item"
    ></app-viewcard>
  </div>
  }
</div>
