<div
  style="
    min-height: 100vh;
    min-width: 100vw;
    background-color: black;
    display: flex;
    scrollbar-width: none;
    flex-direction: column;
    position: relative;
    justify-content: center;
  "
>
  <div
    style="
      display: flex;
      width: 100vw;
      position: absolute;
      justify-content: end;
      align-items: start;
      flex-direction: row;
      right: 40px;
      top: 40px;
      margin: 40px;
    "
  >
    <div
      *ngIf="!onCreate && !onEdit"
      (click)="setOnCreate(true)"
      class="create"
    >
      <p
        style="
          color: rgb(227, 212, 212);
          font-size: medium;
          font-weight: 800;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
            sans-serif;
        "
      >
        Create
      </p>
    </div>
    <div *ngIf="!onCreate && !onEdit" class="file">
      <label for="file-upload" class="custom-file-choose"> Choose File </label>
      <input
        (change)="onFileChange($event)"
        id="file-upload"
        type="file"
        accept=".xlsx"
        style="display: none"
      />
      <div
        *ngIf="filename"
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 30px;
        "
      >
        <img src="../assets/word.png" style="height: 50px; width: 50px" />
        <p style="color: white; font-size: 20px">{{ filename }}</p>

        <p (click)="onUpload()" class="custom-file-upload">Upload</p>
      </div>
    </div>
  </div>

  <div
    *ngIf="onCreate || onEdit"
    style="position: absolute; align-self: center"
  >
    <app-addcard
      [editData]="editObject"
      [isEdit]="onEdit"
      [cardsData]="cardsData"
      (setOnEditModal)="setOnEdit($event)"
      (setOnCreateModal)="setOnCreate($event)"
    ></app-addcard>
  </div>

  @if (cardsData.length ==0) {

  <div>
    <p style="color: white; font-size: 50px; text-align: center">
      No data is present!
    </p>
  </div>
  } @else if(!onCreate && !onEdit) {

  <div
    style="overflow-y: scroll; scrollbar-width: none; height: 100vh"
    appInfiniteScroll
    (scrolled)="onScrollDown()"
  >
    <div
      *ngFor="let item of cardsData; index as i"
      style="
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: white;
      "
    >
      <app-viewcard
        (handleEditItem)="setEditObject($event)"
        (setOnEditCard)="setOnEdit($event)"
        (handleDeleteItem)="handleDelete($event)"
        [index]="i"
        [cardData]="item"
      ></app-viewcard>
    </div>
    <div *ngIf="!isLoading && !isEnd">
      <p style="color: white; font-size: 20px; text-align: center">
        Loading...
      </p>
    </div>
  </div>
  }
</div>
